<section>
<div class="container">

    <div class="row">
        <div class="col-xs-10">
            <h1>My University!</h1>
            <hr>
             <!-- 
            without exact:true it will be added to all routes as they all start with / 
            <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            -->
            <nav>
                <ul class ="list-inline">

           <li> <a [routerLink]="['']">Home</a></li>
           <li> <a [routerLink]="['students']">Student</a></li>
            </ul>
            </nav>

          
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

</section>